body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1,h2,h3,h4,h5,h6 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h1 {
    font-size: 3em;
}
p {
    color: #333;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
ul { 
    margin: 20px auto 40px; 
}

ul li {
    list-style: none;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

/*header specific formatting*/
header {
  text-align: right;
  background-image: url(/images/265763main_carina07_hst_big_full.jpg);
  background-image: url(/images/Dwarf_galaxy_IC_1613_crop_low.jpg);
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
/* state for sticky scroll...
  position: fixed;
  top: 0;
  width: 100%;
*/
}

header a         { color: #FFE4C4 }
header a:link    { color: #FFE4C4 }
header a:visited { color: #FFE4C4 }
header a:hover   { color: #663399; background-color: #000000 }
header a:active  { color: #8b3626 }

header h1 {
    color: white;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

